<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Áo Ba Lỗ</title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap4/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/aoChung.css">
</head>
<body>
	<div class="header">
		<div class="head-top">
			<p>Miễn phí vận chuyển với đơn hàng trên 500K</p>
		</div>
		<div class="head-bottom">
			<div class="col-2">
				<img class="logo" src="../images/logo.png">
			</div>
			<div class="navbar col-3 col-lg-8">
				<ul class="menu">
					<li><a href="#">SẢN PHẨM <i class="fas fa-chevron-down"></i></a>
						<ul class="menu menu-1">
							<li><a href="trangsale.html">SALE OFF 75%</a></li>
							<li><a href="trangao.html">ÁO</a>
								<ul class="menu-sub-1">
									<li><a href="aothun.html">ÁO THUN</a></li>
									<li><a href="aopolo.html">ÁO POLO</a></li>
									<li><a href="aobalo.html">ÁO BA LỖ</a></li>
									<li><a href="aosomi.html">ÁO SƠ MI</a></li>
									<li><a href="aovest.html">ÁO VEST</a></li>
								</ul>
							</li>
							<li><a href="#">QUẦN</a>
								<ul class="menu-sub-2">
									<li><a href="#">QUẦN SHORT</a></li>
									<li><a href="#">QUẦN JEANS</a></li>
									<li><a href="#">QUẦN JOGGER_QUẦN DÀI</a></li>
									<li><a href="#">QUẦN TÂY_QUẦN KAKI</a></li>
								</ul>
							</li>
							<li><a href="#">BALO - TÚI SÁCH</a></li>
							<li><a href="#">GIÀY DA</a></li>
							<li><a href="#">PHỤ KIỆN KHÁC</a></li>
						</ul>
					</li>
					<li><a href="#">MIX & MATCH</a></li>
					<li><a href="#">SALE UP TO 75%</a></li>
					<li><a href="#">ĐỊA CHỈ STORE <i class="fas fa-chevron-down"></i></a>
						<ul class="menu menu-1">
							<li><a href="#">HÀ NỘI</a></li>
							<li><a href="#">BẮC GIANG</a></li>
							<li><a href="#">HẢI PHÒNG</a></li>
							<li><a href="#">THANH HÓA</a></li>
							<li><a href="#">QUẢNG NINH</a></li>
							<li><a href="#">CAO BẰNG</a></li>
						</ul>
					</li>
					<li><a href="#">H.DẪN - C.SÁCH<i class="fas fa-chevron-down"></i></a>
						<ul class="menu menu-1">
							<li><a href="#">CS ĐỔI TRẢ</a></li>
							<li><a href="#">TK NGÂN HÀNG</a></li>
							<li><a href="#">KT ĐƠN HÀNG</a></li>
							<li><a href="#">MEMBERSHIP</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="icon col-3">
				<ul>
					<li><a href="#"><i class="fas fa-search"></i></a></li>
					<li><a href="#"><i class="fas fa-user-circle"></i></a></li>
					<li><a href=""><i class="fal fa-shopping-bag"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="banner">
		<img src="../images/AoBaLo/banneBaLo.jpg" width="100%" alt="not">
	</div>
	<section class="section-body">
		<h1 class="content1">ÁO BA LỖ</h1>
		<div class="product-grid">
			<div class="img-h img-tank1439"><a href="aochitiet.html"><img src="../images/AoBaLo/tanktop1440.jpg" alt="not"></a><br>
				<a href="#">áo ba lỗ tank top 1440</a>
				<span class="money-red">148,000đ</span>&nbsp;<del>205,000đ</del>
			</div>
			<div class="img-h mg-tank1440"><a href="aochitiet.html"><img src="../images/AoBaLo/tanktop1439.jpg" alt="not"></a><br>
				<a href="#">áo ba lỗ tank top 1439</a>
				<span class="money-red">200,000đ</span>&nbsp;<del>250,000đ</del>
			</div>
			<div class="img-h img-striped"><a href="aochitiet.html"><img src="../images/AoBaLo/PrintedSymmetries1444.jpg" alt="not"></a><br>
				<a href="#">áo ba lỗ printed symmetries 1444</a>
				<span class="money-red">80,00</span>&nbsp;<del>320,000đ</del>
			</div>
	</section>
	<div class="information">
		<div class="phoniex">
		<div class="phoniex_menu">
		<ul>
			<li>
				<h4>CÔNG TY CỔ PHẦN THỜI TRANG H2T VIỆT NAM</h4>
					<ul>
						<li>
							<a href="">Địa chỉ: Số 1, ngõ 40, tổ 14 phố Nguyễn Thị Định,<br> Phường Nhân Chính, Quận Thanh Xuân, Hà Nội</a>
						</li>
						<li>
							<a href="">Người đại diện: NGÔ TRÍ TÙNG</a>
						</li>
						<li>
							<a href="">Mã số thuế: 0106533311, ngày cấp ĐKKD <br> 08/05/2014. Nơi cấp: Sở kế hoạch và đầu tư Hà Nội.</a>
						</li>
					</ul>
			</li>
			<li>
				<h4>Chính Sách</h4>
				<ul>
					<li><a href="#">CS ĐỔI TRẢ</a></li>
					<li><a href="#">TK NGÂN HÀNG</a></li>
					<li><a href="#">KT ĐƠN HÀNG</a></li>
					<li><a href="#">MEMBERSHIP</a></li>
				</ul>
			</li>
			<li>
				<h4>Cửa Hàng</h4>
				<ul>
					<li><a href="#">HÀ NỘI</a></li>
					<li><a href="#">BẮC GIANG</a></li>
					<li><a href="#">HẢI PHÒNG</a></li>
					<li><a href="#">THANH HÓA</a></li>
					<li><a href="#">QUẢNG NINH</a></li>
					<li><a href="#">CAO BẰNG</a></li>
				</ul>
			</li>
			<li>
				<h5>Tư vấn khách hàng</h5>
				<ul>
					<li>
						<a href=""><i class="fas fa-phone-alt"> </i>098.126.8187</a>
					</li>
					<li>
						<a href="">Tất cả các ngày trong tuần</a>
					</li>
					<li>
						<b><a href="">KẾT NỐI VỚI CHÚNG TÔI</a></b>
					</li>
					<li>
						<i class="fab fa-facebook-f"></i>
						<i class="fab fa-instagram"></i>
						<i class="fab fa-youtube"></i>
						<i class="fab fa-facebook-messenger"></i>
					</li>
				</ul>
			</li>
			<li>
				<h5>Chăm sóc khách hàng</h5>
				<ul>
					<li>
						<a href=""><i class="fas fa-phone-alt"> </i>098.126.8187</a>
					</li>
					<li>
						<a href="">Tất cả các ngày trong tuần</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<hr>
	<div class="footer">
		<center>Copyright © 2021 H2TSTORE. Powered by Haravan</center>
	</div>
</body>
<script type="text/javascript" src="../lib/jquery.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap4/popper.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap4/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/trangchu.js"></script>
</html>