<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ÁO Sơ Mi  british classics 1426 </title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap4/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/aochitiet.css">
</head>
<body>
	<div class="header">
		<div class="head-top">
			<p>Miễn phí vận chuyển với đơn hàng trên 500K</p>
		</div>
		<div class="head-bottom">
			<div class="col-2">
				<img class="logo" src="../images/logo.png">
			</div>
			<div class="navbar col-3 col-lg-8">
				<ul class="menu">
					<li><a href="#">SẢN PHẨM <i class="fas fa-chevron-down"></i></a>
						<ul class="menu menu-1">
							<li><a href="trangsale.html">SALE OFF 75%</a></li>
							<li><a href="trangao.html">ÁO</a>
								<ul class="menu-sub-1">
									<li><a href="aothun.html">ÁO THUN</a></li>
									<li><a href="aopolo.html">ÁO POLO</a></li>
									<li><a href="aobalo.html">ÁO BA LỖ</a></li>
									<li><a href="aosomi.html">ÁO SƠ MI</a></li>
									<li><a href="aovest.html">ÁO VEST</a></li>
								</ul>
							</li>
							<li><a href="#">QUẦN</a>
								<ul class="menu-sub-2">
									<li><a href="#">QUẦN SHORT</a></li>
									<li><a href="#">QUẦN JEANS</a></li>
									<li><a href="#">QUẦN JOGGER_QUẦN DÀI</a></li>
									<li><a href="#">QUẦN TÂY_QUẦN KAKI</a></li>
								</ul>
							</li>
							<li><a href="#">BALO - TÚI SÁCH</a></li>
							<li><a href="#">GIÀY DA</a></li>
							<li><a href="#">PHỤ KIỆN KHÁC</a></li>
						</ul>
					</li>
					<li><a href="#">MIX & MATCH</a></li>
					<li><a href="#">SALE UP TO 75%</a></li>
					<li><a href="#">ĐỊA CHỈ STORE <i class="fas fa-chevron-down"></i></a>
						<ul class="menu menu-1">
							<li><a href="#">HÀ NỘI</a></li>
							<li><a href="#">BẮC GIANG</a></li>
							<li><a href="#">HẢI PHÒNG</a></li>
							<li><a href="#">THANH HÓA</a></li>
							<li><a href="#">QUẢNG NINH</a></li>
							<li><a href="#">CAO BẰNG</a></li>
						</ul>
					</li>
					<li><a href="#">H.DẪN - C.SÁCH<i class="fas fa-chevron-down"></i></a>
						<ul class="menu menu-1">
							<li><a href="#">CS ĐỔI TRẢ</a></li>
							<li><a href="#">TK NGÂN HÀNG</a></li>
							<li><a href="#">KT ĐƠN HÀNG</a></li>
							<li><a href="#">MEMBERSHIP</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="icon col-3">
				<ul>
					<li><a href="#"><i class="fas fa-search"></i></a></li>
					<li><a href="#"><i class="fas fa-user-circle"></i></a></li>
					<li><a href=""><i class="fal fa-shopping-bag"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	<section>
            <div class="row choose-product">
                <div class="col-sm img-choose">
                    <img src="../images/AoSoMi/Britishclassics1426.jpg" alt="not">
                </div>
                <div class="col-sm content-choose">
                    <h1>ÁO Sơ Mi  british classics 1426</h1>
                    <h6>SKU:SM1-c1426TcS</h6><br>
                    <div class="percent-price">
                        <span class="percentt">-25%</span>&ensp;<span style="color: red;">316,000đ</span>&ensp;<del>395,000đ</del>
                    </div><br>
                    <div class="instruction-size">Chọn số lượng:</div><br>
                    <div class="frm-choose-amount">
                        <input type="button" id="btn btn-subtracts" value=" - " size="10">
                        <input type="text" id="amount" value="1" size="8">
                        <input type="button"  id="btn btn-plus" value=" + " size="10">
                    </div><br>
                    <button class="btn them">thêm vào giỏ</button>&ensp;<button class="btn address">Có tại 6 cửa hàng</button>
                    <p><b>Mô tả</b></p>
                    <p><b>SƠ MI CỔ TRỤ OXFORD BRITISH CLASSIC 1426</b></p>
                    <span><b>KIỂU DÁNG: </b>Slim Fit</span>
                    <p>Sơ mi phom dáng Slimfit ôm vừa vai và lưng, chuẩn dáng công sở</p>
                    <b>CHẤT LIỆU: </b>100% cotton <br>
                    <span>Chất vải mềm mát, thấm hút mồ hôi và giữ phom cực tốt. Vải được xử lý giặt mềm tạo cảm giác dễ chịu cho người sử dụng.</span>
                    <br><br><b>ĐẶC ĐIỂM NỔI BẬT</b><br>
                    -Thiết kế cổ trụ mang đến diện mạo mới, tạo sự khỏe khoắn và lịch thiệp <br>
                    - Phối 1 túi ngực tinh tế, tiện lợi
                    <p>- Màu sắc nhã nhặn, linh hoạt trong việc phối trang phục, phù hợp với mọi dịp</p>

                </div>
            </div>
    </section>

        <div class="section-body">
            <h1 class="content1">SẢN PHẨM LIÊN QUAN</h1>
            <div class="product-grid">
                <div class="img-h">
                    <a href="#"><img id="img-somi" onmousemove="changeImg(this)" onmouseout="backImg(this)" src="../images/AoSoMi/mslandslimfit1415.jpg" alt="not"></a><br>
                    <a href="#">so mi musland slim fit 1415</a>
                    <span class="money-red">348,000đ</span>&nbsp;<del>435,000đ</del>
                </div>
                <div class="img-h">
                    <a href="#"><img src="../images/AoSoMi/Britishclassics1426.jpg" alt="not"></a><br>
                    <a href="#">áo sơ mi british classic 1426</a>
                    <span class="money-red">316,000đ</span>&nbsp;<del>395,000đ</del>
                </div>
                <div class="img-h"><a href="#"><img src="../images/AoSoMi/SimwoodDenimblue.jpg" alt="not"></a><br>
                    <a href="#">áo sơ mi simwood 1295</a>
                    <span class="money-red">360,000đ</span></span>&nbsp;<del>435,000đ</del>
                </div>
                <div class="img-h"><a href="#"><img src="../images/AoSoMi/CocBentino.jpg" alt="not"></a><br>
                    <a href="#">áo sơ mi cộc tay bentino 1472</a>
                    <span class="money-red">316,000đ</span>&nbsp;<del>395,000đ</del>
                </div>
                <div class="img-h"><a href="#"><img src="../images/AoSoMi/Easyclean.jpg" alt="not"></a><br>
                    <a href="#">áo sơ mi EASY CLEAN 1453</a>
                    <span class="money-red">316,000đ</span>&nbsp;<del>395,000đ</del>
                </div>
            </div>
        </div>



    <div class="information">
		<div class="phoniex">
		<div class="phoniex_menu">
		<ul>
			<li>
				<h4>CÔNG TY CỔ PHẦN THỜI TRANG H2T VIỆT NAM</h4>
					<ul>
						<li>
							<a href="">Địa chỉ: Số 1, ngõ 40, tổ 14 phố Nguyễn Thị Định,<br> Phường Nhân Chính, Quận Thanh Xuân, Hà Nội</a>
						</li>
						<li>
							<a href="">Người đại diện: NGÔ TRÍ TÙNG</a>
						</li>
						<li>
							<a href="">Mã số thuế: 0106533311, ngày cấp ĐKKD <br> 08/05/2014. Nơi cấp: Sở kế hoạch và đầu tư Hà Nội.</a>
						</li>
					</ul>
			</li>
			<li>
				<h4>Chính Sách</h4>
				<ul>
					<li><a href="#">CS ĐỔI TRẢ</a></li>
					<li><a href="#">TK NGÂN HÀNG</a></li>
					<li><a href="#">KT ĐƠN HÀNG</a></li>
					<li><a href="#">MEMBERSHIP</a></li>
				</ul>
			</li>
			<li>
				<h4>Cửa Hàng</h4>
				<ul>
					<li><a href="#">HÀ NỘI</a></li>
					<li><a href="#">BẮC GIANG</a></li>
					<li><a href="#">HẢI PHÒNG</a></li>
					<li><a href="#">THANH HÓA</a></li>
					<li><a href="#">QUẢNG NINH</a></li>
					<li><a href="#">CAO BẰNG</a></li>
				</ul>
			</li>
			<li>
				<h5>Tư vấn khách hàng</h5>
				<ul>
					<li>
						<a href=""><i class="fas fa-phone-alt"> </i>098.126.8187</a>
					</li>
					<li>
						<a href="">Tất cả các ngày trong tuần</a>
					</li>
					<li>
						<b><a href="">KẾT NỐI VỚI CHÚNG TÔI</a></b>
					</li>
					<li>
						<i class="fab fa-facebook-f"></i>
						<i class="fab fa-instagram"></i>
						<i class="fab fa-youtube"></i>
						<i class="fab fa-facebook-messenger"></i>
					</li>
				</ul>
			</li>
			<li>
				<h5>Chăm sóc khách hàng</h5>
				<ul>
					<li>
						<a href=""><i class="fas fa-phone-alt"> </i>098.126.8187</a>
					</li>
					<li>
						<a href="">Tất cả các ngày trong tuần</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<hr>
	<div class="footer">
		<center>Copyright © 2021 H2TSTORE. Powered by Haravan</center>
	</div>
</body>
<script type="text/javascript" src="../lib/jquery.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap4/popper.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap4/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/trangchu.js"></script>
<script src="../js/trangao.js" type="text/javascript"></script>
</html>