<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Áo thun</title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap4/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/aoChung.css">
</head>
<body>
	<div class="header">
		<div class="head-top">
			<p>Miễn phí vận chuyển với đơn hàng trên 500K</p>
		</div>
		<div class="head-bottom">
			<div class="col-2">
				<img class="logo" src="../images/logo.png">
			</div>
			<div class="navbar col-3 col-lg-8">
				<ul class="menu">
					<li><a href="#">SẢN PHẨM <i class="fas fa-chevron-down"></i></a>
						<ul class="menu menu-1">
							<li><a href="trangsale.html">SALE OFF 75%</a></li>
							<li><a href="trangao.html">ÁO</a>
								<ul class="menu-sub-1">
									<li><a href="aothun.html">ÁO THUN</a></li>
									<li><a href="aopolo.html">ÁO POLO</a></li>
									<li><a href="aobalo.html">ÁO BA LỖ</a></li>
									<li><a href="aosomi.html">ÁO SƠ MI</a></li>
									<li><a href="aovest.html">ÁO VEST</a></li>
								</ul>
							</li>
							<li><a href="#">QUẦN</a>
								<ul class="menu-sub-2">
									<li><a href="#">QUẦN SHORT</a></li>
									<li><a href="#">QUẦN JEANS</a></li>
									<li><a href="#">QUẦN JOGGER_QUẦN DÀI</a></li>
									<li><a href="#">QUẦN TÂY_QUẦN KAKI</a></li>
								</ul>
							</li>
							<li><a href="#">BALO - TÚI SÁCH</a></li>
							<li><a href="#">GIÀY DA</a></li>
							<li><a href="#">PHỤ KIỆN KHÁC</a></li>
						</ul>
					</li>
					<li><a href="#">MIX & MATCH</a></li>
					<li><a href="#">SALE UP TO 75%</a></li>
					<li><a href="#">ĐỊA CHỈ STORE <i class="fas fa-chevron-down"></i></a>
						<ul class="menu menu-1">
							<li><a href="#">HÀ NỘI</a></li>
							<li><a href="#">BẮC GIANG</a></li>
							<li><a href="#">HẢI PHÒNG</a></li>
							<li><a href="#">THANH HÓA</a></li>
							<li><a href="#">QUẢNG NINH</a></li>
							<li><a href="#">CAO BẰNG</a></li>
						</ul>
					</li>
					<li><a href="#">H.DẪN - C.SÁCH<i class="fas fa-chevron-down"></i></a>
						<ul class="menu menu-1">
							<li><a href="#">CS ĐỔI TRẢ</a></li>
							<li><a href="#">TK NGÂN HÀNG</a></li>
							<li><a href="#">KT ĐƠN HÀNG</a></li>
							<li><a href="#">MEMBERSHIP</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="icon col-3">
				<ul>
					<li><a href="#"><i class="fas fa-search"></i></a></li>
					<li><a href="#"><i class="fas fa-user-circle"></i></a></li>
					<li><a href=""><i class="fal fa-shopping-bag"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="banner">
		<img src="../images/aothun/bannerAoThun.jpg" width="100%" alt="not">
	</div>
	<section class="section-body">
		<h1 class="content1">ÁO THUN</h1>
		<div class="product-grid">
			<div class="img-h"><a href="aochitiet.html"><img src="../images/aothun/aothunLiaoyongfie.jpg" alt="not"></a><br>
				<a href="aochitiet.html">áo thun liaoyoungfie ripped 1424</a>
				<span class="money-red">316,000đ</span>&nbsp;<del>395,000đ</del>
			</div>
			<div class="img-h"><a href="aochitiet.html"><img src="../images/aothun/aothunBasic.jpg" alt="not"></a><br>
				<a href="aochitiet.html">áo thun basic cổ tim aT 0603</a>
				<span class="money-red">156,000đ</span>&nbsp;<del>195,000đ</del>
			</div>
			<div class="img-h"><a href="aochitiet.html"><img src="../images/aothun/aothunKDphoiMau.jpg" alt="not"></a><br>
				<a href="aochitiet.html">áo thun basic cổ tròn 0602</a>
				<span class="money-red">156,000đ</span>&nbsp;<del>195,000đ</del>
			</div>
			<div class="img-h"><a href="aochitiet.html"><img src="../images/AoSoMi/CocBentino.jpg" alt="not"></a><br>
				<a href="aochitiet.html">áo thun nam ATSO 1098</a>
				<span class="money-red">316,000đ</span>&nbsp;<del>395,000đ</del>
			</div>
			<div class="img-h"><a href="aochitiet.html"><img src="../images/aothun/aothunSport.jpg" alt="not"></a><br>
				<a href="aochitiet.htmlaochitiet.html">áo thun sports 1443</a>
				<span class="money-red">180,000đ</span>&nbsp;<del>225,000đ</del>
			</div>
			<div class="img-h"><a href="aochitiet.html"><img src="../images/aothun/aothunfitness.jpg" alt="not"></a><br>
				<a href="aochitiet.htmlaochitiet.html">áo thun fitness ombre</a>
				<span class="money-red">204,000</span>&nbsp;<del>255,000đ</del>
			</div>
			<div class="img-h"><a href="aochitiet.html"><img src="../images/aothun/aothunEssentials.jpg" alt="not"></a><br>
				<a href="aochitiet.htmlaochitiet.html">áo thun ESSENTIAL basic 1450</a>
				<span class="money-red">212,000đ</span>&nbsp;<del>265,000đ</del>
			</div>
			<div class="img-h img-striped"><a href="aochitiet.html"><img src="../images/aothun/aothunSportShirt.jpg" alt="not"></a><br>
				<a href="aochitiet.htmlaochitiet.html">áo thun sport shirt</a>
				<span class="money-red">156,000đ</span>&nbsp;<del>195,000đ</del>
			</div>
			<div class="img-h img-thun-sw91"><a href="aochitiet.html"><img src="../images/aothun/aothunATCO.jpg" alt="not"></a><br>
				<a href="aochitiet.htmlaochitiet.html">áo thun "it's time for summer</a>
				<span class="money-red">208,750đ</span>&nbsp;<del>305,000đ</del>
			</div>
			<div class="img-h img-thun1464"><a href="aochitiet.html"><img src="../images/aothun/aothunATCO.jpg" alt="not"></a><br>
				<a href="aochitiet.htmlaochitiet.html">áo thun nam ATCO 1219</a>
				<span class="money-red">256,000đ</span>&nbsp;<del>332,000đ</del>
			</div>
			<div class="img-h img-tank1439"><a href="aochitiet.html"><img src="../images/aothun/aothunGAIETY.jpg" alt="not"></a><br>
				<a href="aochitiet.htmlaochitiet.html">ao thun GAIETY 1407</a>
				<span class="money-red">98,750đ</span>&nbsp;<del>395,000đ</del>
			</div>
			<div class="img-h mg-tank1440"><a href="aochitiet.html"><img src="../images/aothun/aothunPrinted.jpg" alt="not"></a><br>
				<a href="aochitiet.htmlaochitiet.html">áo thun printed 1423</a>
				<span class="money-red">236,000đ</span>&nbsp;<del>295,000đ</del>
			</div>
			<div class="img-h img-striped"><a href="aochitiet.html"><img src="../images/aothun/aothunStriped.jpg" alt="not"></a><br>
				<a href="aochitiet.html">áo thun striped horizontal</a>
				<span class="money-red">236,000đ</span>&nbsp;<del>295,000đ</del>
			</div>
			<div class="img-h img-thun-sw91"><a href="aochitiet.html"><img src="../images/aothun/aothunToTheNorth.jpg" alt="not"></a><br>
				<a href="aochitiet.html">áo thun sw91 to the north</a>
				<span class="money-red">228,000đ</span>&nbsp;<del>305,000đ</del>
			</div>
			<div class="img-h img-thun1464"><a href="aochitiet.html"><img src="../images/aothun/aothunSw91.jpg" alt="not"></a><br>
				<a href="aochitiet.html">áo thun to the north 1464</a>
				<span class="money-red">228,000đ</span>&nbsp;<del>305,000đ</del>
			</div>
			<div class="img-h img-tank1439"><a href="aochitiet.html"><img src="../images/aothun/aothunATSO.jpg" alt="not"></a><br>
				<a href="aochitiet.html">áo thun nam ATCO 1217</a>
				<span class="money-red">224,000đ</span>&nbsp;<del>320,000đ</del>
			</div>
			<div class="img-h mg-tank1440"><a href="aochitiet.html"><img src="../images/aothun/aothunSport.jpg" alt="not"></a><br>
				<a href="aochitiet.html">áo thun sports 1222</a>
				<span class="money-red">200,000đ</span>&nbsp;<del>250,000đ</del>
			</div>
			<div class="img-h img-striped"><a href="aochitiet.html"><img src="../images/aothun/aothunATSO.jpg" alt="not"></a><br>
				<a href="aochitiet.html">áo thun nam ATSO </a>
				<span class="money-red">80,000đ</span>&nbsp;<del>320,000đ</del>
			</div>
			<div class="img-h img-thun-sw91"><a href="aochitiet.html"><img src="../images/aothun/aothunKDphoiMau.jpg" alt="not"></a><br>
				<a href="aochitiet.html">áo thun kD phối màu</a>
				<span class="money-red">204,000</span>&nbsp;<del>255,000đ</del>
			</div>
			<div class="img-h img-thun1464"><a href="aochitiet.html"><img src="../images/aothun/aothunSportShirt.jpg" alt="not"></a><br>
				<a href="aochitiet.html">áo thun sports shirt 1442</a>
				<span class="money-red">156,000đ</span>&nbsp;<del>195500,000đ</del>
			</div>
	</section>
	<div class="information">
		<div class="phoniex">
		<div class="phoniex_menu">
		<ul>
			<li>
				<h4>CÔNG TY CỔ PHẦN THỜI TRANG H2T VIỆT NAM</h4>
					<ul>
						<li>
							<a href="">Địa chỉ: Số 1, ngõ 40, tổ 14 phố Nguyễn Thị Định,<br> Phường Nhân Chính, Quận Thanh Xuân, Hà Nội</a>
						</li>
						<li>
							<a href="">Người đại diện: NGÔ TRÍ TÙNG</a>
						</li>
						<li>
							<a href="">Mã số thuế: 0106533311, ngày cấp ĐKKD <br> 08/05/2014. Nơi cấp: Sở kế hoạch và đầu tư Hà Nội.</a>
						</li>
					</ul>
			</li>
			<li>
				<h4>Chính Sách</h4>
				<ul>
					<li><a href="#">CS ĐỔI TRẢ</a></li>
					<li><a href="#">TK NGÂN HÀNG</a></li>
					<li><a href="#">KT ĐƠN HÀNG</a></li>
					<li><a href="#">MEMBERSHIP</a></li>
				</ul>
			</li>
			<li>
				<h4>Cửa Hàng</h4>
				<ul>
					<li><a href="#">HÀ NỘI</a></li>
					<li><a href="#">BẮC GIANG</a></li>
					<li><a href="#">HẢI PHÒNG</a></li>
					<li><a href="#">THANH HÓA</a></li>
					<li><a href="#">QUẢNG NINH</a></li>
					<li><a href="#">CAO BẰNG</a></li>
				</ul>
			</li>
			<li>
				<h5>Tư vấn khách hàng</h5>
				<ul>
					<li>
						<a href=""><i class="fas fa-phone-alt"> </i>098.126.8187</a>
					</li>
					<li>
						<a href="">Tất cả các ngày trong tuần</a>
					</li>
					<li>
						<b><a href="">KẾT NỐI VỚI CHÚNG TÔI</a></b>
					</li>
					<li>
						<i class="fab fa-facebook-f"></i>
						<i class="fab fa-instagram"></i>
						<i class="fab fa-youtube"></i>
						<i class="fab fa-facebook-messenger"></i>
					</li>
				</ul>
			</li>
			<li>
				<h5>Chăm sóc khách hàng</h5>
				<ul>
					<li>
						<a href=""><i class="fas fa-phone-alt"> </i>098.126.8187</a>
					</li>
					<li>
						<a href="">Tất cả các ngày trong tuần</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<hr>
	<div class="footer">
		<center>Copyright © 2021 H2TSTORE. Powered by Haravan</center>
	</div>
</body>
<script type="text/javascript" src="../lib/jquery.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap4/popper.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap4/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/trangchu.js"></script>
</html>