<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Trang chủ</title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap4/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/trangchu.css">
</head>
<body>
	<div class="header">
		<div class="head-top">
			<p>Miễn phí vận chuyển với đơn hàng trên 500K</p>
		</div>
		<div class="head-bottom">
			<div class="col-2">
				<img class="logo" src="../images/logo.png">
			</div>
			<div class="navbar col-3 col-lg-8">
				<ul class="menu">
					<li><a href="#">SẢN PHẨM <i class="fas fa-chevron-down"></i></a>
						<ul class="menu menu-1">
							<li><a href="trangsale.html">SALE OFF 75%</a></li>
							<li><a href="trangao.html">ÁO</a>
								<ul class="menu-sub-1">
									<li><a href="aothun.html">ÁO THUN</a></li>
									<li><a href="aopolo.html">ÁO POLO</a></li>
									<li><a href="aobalo.html">ÁO BA LỖ</a></li>
									<li><a href="aosomi.html">ÁO SƠ MI</a></li>
									<li><a href="aovest.html">ÁO VEST</a></li>
								</ul>
							</li>
							<li><a href="#">QUẦN</a>
								<ul class="menu-sub-2">
									<li><a href="#">QUẦN SHORT</a></li>
									<li><a href="#">QUẦN JEANS</a></li>
									<li><a href="#">QUẦN JOGGER_QUẦN DÀI</a></li>
									<li><a href="#">QUẦN TÂY_QUẦN KAKI</a></li>
								</ul>
							</li>
							<li><a href="#">BALO - TÚI SÁCH</a></li>
							<li><a href="#">GIÀY DA</a></li>
							<li><a href="#">PHỤ KIỆN KHÁC</a></li>
						</ul>
					</li>
					<li><a href="#">MIX & MATCH</a></li>
					<li><a href="#">SALE UP TO 75%</a></li>
					<li><a href="#">ĐỊA CHỈ STORE <i class="fas fa-chevron-down"></i></a>
						<ul class="menu menu-1">
							<li><a href="#">HÀ NỘI</a></li>
							<li><a href="#">BẮC GIANG</a></li>
							<li><a href="#">HẢI PHÒNG</a></li>
							<li><a href="#">THANH HÓA</a></li>
							<li><a href="#">QUẢNG NINH</a></li>
							<li><a href="#">CAO BẰNG</a></li>
						</ul>
					</li>
					<li><a href="#">H.DẪN - C.SÁCH</a> <i class="fas fa-chevron-down"></i>
						<ul class="menu menu-1">
							<li><a href="#">CS ĐỔI TRẢ</a></li>
							<li><a href="#">TK NGÂN HÀNG</a></li>
							<li><a href="#">KT ĐƠN HÀNG</a></li>
							<li><a href="#">MEMBERSHIP</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="icon col-3">
				<ul>
					<li><a href="#"><i class="fas fa-search"></i></a></li>
					<li><a href="#"><i class="fas fa-user-circle"></i></a></li>
					<li><a href=""><i class="fal fa-shopping-bag"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="banner">
		<img src="../images/banner.png" width="100%" alt="">
	</div>
</body>
<script type="text/javascript" src="../lib/jquery.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap4/popper.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap4/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/trangchu.js"></script>
</html>