<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Trang sale</title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap4/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/trangao.css">
</head>
<body>
	<div class="header">
		<div class="head-top">
			<p>Miễn phí vận chuyển với đơn hàng trên 500K</p>
		</div>
		<div class="head-bottom">
			<div class="col-2">
				<img class="logo" src="../images/logo.png">
			</div>
			<div class="navbar col-3 col-lg-8">
				<ul class="menu">
					<li><a href="#">SẢN PHẨM <i class="fas fa-chevron-down"></i></a>
						<ul class="menu menu-1">
							<li><a href="trangsale.html">SALE OFF 75%</a></li>
							<li><a href="trangao.html">ÁO</a>
								<ul class="menu-sub-1">
									<li><a href="aothun.html">ÁO THUN</a></li>
									<li><a href="aopolo.html">ÁO POLO</a></li>
									<li><a href="aobalo.html">ÁO BA LỖ</a></li>
									<li><a href="aosomi.html">ÁO SƠ MI</a></li>
									<li><a href="aovest.html">ÁO VEST</a></li>
								</ul>
							</li>
							<li><a href="#">QUẦN</a>
								<ul class="menu-sub-2">
									<li><a href="#">QUẦN SHORT</a></li>
									<li><a href="#">QUẦN JEANS</a></li>
									<li><a href="#">QUẦN JOGGER_QUẦN DÀI</a></li>
									<li><a href="#">QUẦN TÂY_QUẦN KAKI</a></li>
								</ul>
							</li>
							<li><a href="#">BALO - TÚI SÁCH</a></li>
							<li><a href="#">GIÀY DA</a></li>
							<li><a href="#">PHỤ KIỆN KHÁC</a></li>
						</ul>
					</li>
					<li><a href="#">MIX & MATCH</a></li>
					<li><a href="#">SALE UP TO 75%</a></li>
					<li><a href="#">ĐỊA CHỈ STORE <i class="fas fa-chevron-down"></i></a>
						<ul class="menu menu-1">
							<li><a href="#">HÀ NỘI</a></li>
							<li><a href="#">BẮC GIANG</a></li>
							<li><a href="#">HẢI PHÒNG</a></li>
							<li><a href="#">THANH HÓA</a></li>
							<li><a href="#">QUẢNG NINH</a></li>
							<li><a href="#">CAO BẰNG</a></li>
						</ul>
					</li>
					<li><a href="#">H.DẪN - C.SÁCH</a> <i class="fas fa-chevron-down"></i>
						<ul class="menu menu-1">
							<li><a href="#">CS ĐỔI TRẢ</a></li>
							<li><a href="#">TK NGÂN HÀNG</a></li>
							<li><a href="#">KT ĐƠN HÀNG</a></li>
							<li><a href="#">MEMBERSHIP</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="icon col-3">
				<ul>
					<li><a href="#"><i class="fas fa-search"></i></a></li>
					<li><a href="#"><i class="fas fa-user-circle"></i></a></li>
					<li><a href=""><i class="fal fa-shopping-bag"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="banner">
		<img src="../images/sale/bannerSale.jpg" width="100%" alt="not">
	</div>
	<section class="section-body">
		<h1 class="content1">SALE UP TO 75%</h1>
		<div class="product-grid">
			<div class="img-h"><a href="aochitiet.html"><img src="../images/sale/short1041.jpg" alt="not"></a>
				<br>
				<a href="aochitiet.html">Quần Short 1111</a>
				<span class="money-red">87,500đ</span>&nbsp;<del>350,000đ</del>
			</div>
			<div class="img-h"><a href="aochitiet.html"><img src="../images/sale/short1195.jpg" alt="not"></a><br>
				<a href="aochitiet.html">Quần Short Đũi 1195</a>
				<span class="money-red">80,000đ</span>&nbsp;<del>320,000đ</del>
			</div>
			<div class="img-h"><a href="aochitiet.html"><img src="../images/sale/quanQ1023.jpg" alt="not"></a><br>
				<a href="aochitiet.html">Quần Short Đũi 1093</a>
				<span class="money-red">80,000đ</span>&nbsp;<del>320,000đ</del>
			</div>
			<div class="img-h"><a href="aochitiet.html"><img src="../images/sale/dui0751.jpg" alt="not"></a><br>
				<a href="aochitiet.html">Quần Ngố Đũi 0751</a>
				<span class="money-red">80,000đ</span>&nbsp;<del>320,000đ</del>
			</div>
			<div class="img-h"><a href="aochitiet.html"><img src="../images/sale/jean0719.jpg" alt="not"></a><br>
				<a href="aochitiet.html">Quần Short MIIX Jean 0719</a>
				<span class="money-red">80,000đ</span>&nbsp;<del>320,000đ</del>
			</div>
			<div class="img-h"><a href="aochitiet.html"><img src="../images/sale/short1041.jpg" alt="not"></a><br>
				<a href="aochitiet.html">Quần Short 1041</a>
				<span class="money-red">87,500</span>&nbsp;<del>350,000đ</del>
			</div>
			<div class="img-h img-thun1017"><a href="aochitiet.html"><img src="../images/sale/thunMIIX1017.jpg" alt="not"></a><br>
				<a href="aochitiet.html">Áo Thun MIIX stripe lines 1017</a>
				<span class="money-red">58,755đ</span>
			</div>
			<div class="img-h img-striped"><a href="aochitiet.html"><img src="../images/sale/thunAT1053.jpg" alt="not"></a><br>
				<a href="aochitiet.html">Áo Thun kẻ ngang AT 1053</a>
				<span class="money-red">62,500đ</span>&nbsp;<del>250,000đ</del>
			</div>
			<div class="img-h img-thun-sw91"><a href="aochitiet.html"><img src="../images/sale/poloAT.jpg" alt="not"></a><br>
				<a href="aochitiet.html">Áo phông polo cao cấp aT</a>
				<span class="money-red">123,750đ</span>&nbsp;<del>495,000đ</del>
			</div>
			<div class="img-h img-thun1464"><a href="aochitiet.html"><img src="../images/sale/somiSM.jpg" alt="not"></a><br>
				<a href="aochitiet.html">Áo sơ mi SJ 1083</a>
				<span class="money-red">112,500đ</span>&nbsp;<del>450,000đ</del>
			</div>
			<div class="img-h img-tank1439"><a href="aochitiet.html"><img src="../images/sale/somi1045.jpg" alt="not"></a><br>
				<a href="aochitiet.html">sơ mi tay ngắn 0806</a>
				<span class="money-red">98,750đ</span>&nbsp;<del>395,000đ</del>
			</div>
			<div class="img-h mg-tank1440"><a href="aochitiet.html"><img src="../images/sale/SM0746.jpg" alt="not"></a><br>
				<a href="aochitiet.html">sơ mi họa tiết đi biển SM0746</a>
				<span class="money-red">87,500đ</span>&nbsp;<del>350,000đ</del>
			</div>
			<div class="img-h img-striped"><a href="aochitiet.html"><img src="../images/AoSoMi/stripesblack1430.jpg" alt="not"></a><br>
				<a href="aochitiet.html">sơ mi cộc tay 1045</a>
				<span class="money-red">88,750</span>&nbsp;<del>420,000đ</del>
			</div>
			<div class="img-h img-thun-sw91"><a href="aochitiet.html"aochitiet.html><img src="../images/sale/quanQ1023.jpg" alt="not"></a><br>
				<a href="aochitiet.html">quần vải nam Q1023</a>
				<span class="money-red">105,000đ</span>&nbsp;<del>250,000đ</del>
			</div>
			<div class="img-h img-thun1464"><a href="aochitiet.html"><img src="../images/sale/jean0933Tc28.jpg" alt="not"></a><br>
				<a href="aochitiet.html">quần jean 0933Tc28</a>
				<span class="money-red">137,500đ</span>&nbsp;<del>550,000đ</del>
			</div>
			<div class="img-h img-tank1439"><a href="aochitiet.html"><img src="../images/sale/jeanden602.jpg" alt="not"></a><br>
				<a href="aochitiet.html">quần jean đen 602.40</a>
				<span class="money-red">145,000đ</span>&nbsp;<del>500,000đ</del>
			</div>
			<div class="img-h mg-tank1440"><a href="aochitiet.html"><img src="../images/sale/jeanQR18_1125.jpg" alt="not"></a><br>
				<a href="aochitiet.html">quần jean nam QR18-1225</a>
				<span class="money-red">130,000đ</span>&nbsp;<del>520,000đ</del>
			</div>
			<div class="img-h img-striped"><a href="aochitiet.html"><img src="../images/sale/H2T0774.jpg" alt="not"></a><br>
				<a href="aochitiet.html">quần short H2T có viền 0774</a>
				<span class="money-red">80,00</span>&nbsp;<del>320,000đ</del>
			</div>
			<div class="img-h img-thun-sw91"><a href="aochitiet.html"><img src="../images/sale/Q0841.jpg" alt="not"></a><br>
				<a href="aochitiet.html">quần ni thể thao Q-0841</a>
				<span class="money-red">98,750</span>&nbsp;<del>395,000đ</del>
			</div>
			<div class="img-h img-thun1464"><a href="aochitiet.html"><img src="../images/sale/jeanQJJ0_1119.jpg" alt="not"></a><br>
				<a href="aochitiet.html">quần jean nam QJJ0-1119</a>
				<span class="money-red">290,000đ</span>&nbsp;<del>500,000đ</del>
			</div>
	</section>
	<div class="information">
		<div class="phoniex">
		<div class="phoniex_menu">
		<ul>
			<li>
				<h4>CÔNG TY CỔ PHẦN THỜI TRANG H2T VIỆT NAM</h4>
					<ul>
						<li>
							<a href="">Địa chỉ: Số 1, ngõ 40, tổ 14 phố Nguyễn Thị Định,<br> Phường Nhân Chính, Quận Thanh Xuân, Hà Nội</a>
						</li>
						<li>
							<a href="">Người đại diện: NGÔ TRÍ TÙNG</a>
						</li>
						<li>
							<a href="">Mã số thuế: 0106533311, ngày cấp ĐKKD <br> 08/05/2014. Nơi cấp: Sở kế hoạch và đầu tư Hà Nội.</a>
						</li>
					</ul>
			</li>
			<li>
				<h4>Chính Sách</h4>
				<ul>
					<li><a href="#">CS ĐỔI TRẢ</a></li>
					<li><a href="#">TK NGÂN HÀNG</a></li>
					<li><a href="#">KT ĐƠN HÀNG</a></li>
					<li><a href="#">MEMBERSHIP</a></li>
				</ul>
			</li>
			<li>
				<h4>Cửa Hàng</h4>
				<ul>
					<li><a href="#">HÀ NỘI</a></li>
					<li><a href="#">BẮC GIANG</a></li>
					<li><a href="#">HẢI PHÒNG</a></li>
					<li><a href="#">THANH HÓA</a></li>
					<li><a href="#">QUẢNG NINH</a></li>
					<li><a href="#">CAO BẰNG</a></li>
				</ul>
			</li>
			<li>
				<h5>Tư vấn khách hàng</h5>
				<ul>
					<li>
						<a href=""><i class="fas fa-phone-alt"> </i>098.126.8187</a>
					</li>
					<li>
						<a href="">Tất cả các ngày trong tuần</a>
					</li>
					<li>
						<b><a href="">KẾT NỐI VỚI CHÚNG TÔI</a></b>
					</li>
					<li>
						<i class="fab fa-facebook-f"></i>
						<i class="fab fa-instagram"></i>
						<i class="fab fa-youtube"></i>
						<i class="fab fa-facebook-messenger"></i>
					</li>
				</ul>
			</li>
			<li>
				<h5>Chăm sóc khách hàng</h5>
				<ul>
					<li>
						<a href=""><i class="fas fa-phone-alt"> </i>098.126.8187</a>
					</li>
					<li>
						<a href="">Tất cả các ngày trong tuần</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<hr>
	<div class="footer">
		<center>Copyright © 2021 H2TSTORE. Powered by Haravan</center>
	</div>
</body>
<script type="text/javascript" src="../lib/jquery.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap4/popper.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap4/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/trangchu.js"></script>
</html>